* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'DM Sans', sans-serif;*/
    font-family: 'Rubik', sans-serif;
}

.header{
    width: 100%;
    background-color: white;
    height: 65px;
}

body {
    font-size: 14px;
    margin: 0;
    padding: 0;
}


.HeaderfirstDiv {
    position: relative;
    background-color: white;
    height: 100%;
    width: 100%;
}

/* CSS FOR LOGO */

.homeElement{
    position: relative;
    width: 10%;
    text-decoration: none;
}

.logoc{
    position: absolute;
    left: 37%;
    top: 20px;
    text-decoration: none;
    font-weight: bold;
}


/* CLOSE CSS FOR LOGO */


.SonFirstDiv{
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 100%;
}
/*
.navigationMenu{
    border: 1px solid yellow;
    margin-top: 46px;
}*/

.nav{
    position: relative;
    justify-content: center;
    align-items: center;
    width: 45%;
    display: flex;
    white-space: nowrap; /* non andra a capo il testo*/
    gap: 20px;
}

.nav li{
    position: relative;
    font-size: 15px;
}

.menuItem{
    color: royalblue;
    text-decoration: none;
}

li a:hover{
    border-bottom: 2px solid royalblue;
    transition: transform 0.5s;
    padding-bottom: 2px;
}

ul{
    list-style-type: none;
}


/* CSS SEARCH PANEL */

.formSearch{
    position: relative;
    width: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.searchpanel {
    position: relative;
    border-radius: 14px;
    background-color: #f1f1f1;
    width: 90%;
    height: 33px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border: none;
    display: flex;
    align-items: center;
    padding-left: 10%;
}

.divForSearch{
    position: absolute;
    border-radius: 90px;
    left: 10%;
}

.divForSearch:hover{
    background-color: lightgrey;
}



/* CLOSE CSS SEARCH PANEL */


.cc-icon{
    display: block;
    width: 100px;
    height: 60px;
    margin-right: 120px;
}

/* CSS per bottoni log-in, carrello ecc*/

.HeaderQuick{
     /* Distanza dal margine destro degli elementi del div*/
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4%;
}


.forButton {
    padding: 2px;
    border-radius: 14px;
    height: 33px;
    border: 1.3px solid royalblue;
    background: transparent;
    color: royalblue;
    white-space: nowrap; /* non andra a capo il testo*/
    cursor: pointer; /* quando passo sul bottone il puntatore si trasforma in una mano*/
    transition: .4s; /* vado a rendere piu fluida l'animazione cambiando gradualmente il backgound-color nell'hover*/
    text-align: center; /* testo nel bottone allineato al centro */
    text-decoration: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.forButton:hover{
    background-color: royalblue;
    color: #f1f1f1;
}

.noDec{
    position: relative;
    text-decoration: none;
}
/* CSS Hamburgher Menu */

.hamburger{
    display: none;
    width: 30%;
    cursor: pointer;
    position: relative;
    margin: 0;
}

.HambIcon{
    position: relative;
    height: 38px;
    width: 45px;
    top: 50%;
    left: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
}


.HambIcon span{
    position: absolute;
    display: block;
    width: 90%;
    height: 6.7px;
    background: transparent;
    border: 2px solid royalblue;
    border-radius: 18px;
}

.HambIcon span:hover{
    position: absolute;
    display: block;
    width: 80%;
    height: 6.7px;
    background: transparent;
    border: 2px solid royalblue;
    border-radius: 18px;
}

.HambIcon span:nth-child(1){
    top: 6px; /* primo figlio distanza dall'alto 6px*/
}

.HambIcon span:nth-child(2){
    bottom: 6px; /* seconfo figlo distanza dal basso 6px*/
}

.openWindow{
    background: black;
    width: 0;
    height: 1180px;
    transition: 0.5s;
    z-index: 2;
}

.mobileMenu {
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: white;
    color: white;
    z-index: 1000; /* Assicurati che appaia sopra gli altri elementi */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateX(-100%); /* traslato tutto a sinistra */
    transition: transform 0.5s; /* transizione su transform */
    overflow-y: scroll;
}

.closeIcon {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: royalblue;
    font-size: 30px;
}

/* BANNER CSS */

.Slider{
    position: relative;
    margin-top: 0;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.figure{
    position: relative;
    display: flex;
    width: 300%;
    animation: 45s slide infinite; /* 15s * numero di immaggini*/
    height: 100%;
}

.slide{
    flex: 1;
    position: relative;
}

.figure img{
    width: 100%;
    height: 100%;
}

.slide-text {
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: white;
    font-size: 3vw;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.slide-text1{
    position: absolute;
    left: 6.8%;
    top: 30%;
    color: white;
    font-size: 3vw;
}

.slide-text2{
    position: absolute;
    left: 9%;
    top: 40%;
    color: white;
    font-size: 2.7vw;
}

.linkButt{
    position: relative;
    width: 100%;
    height: 100%;
}

.ScopriButt{
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 13px;
    transition: .4s;
}

.ScopriButt:hover{
    background-color: rgb(62, 63, 64);
    color: white;
}

.InnerSlide{
    position: absolute;
    left: 12%;
    top: 53%;
    width: 9%;
    height: 34px;

}

@keyframes slide {
    0%, 100% { left: 0; }
    28% { left: 0; }
    33% { left: -100%; }
    61% { left: -100%; }
    66% { left: -200%; }
    94% { left: -200%; }
}

@media screen and (max-width: 1180px) {

    .homeElement{
        width: 20%;
        text-decoration: none;
        display: flex;
        justify-content: right;
        align-items: flex-end;
    }

    .formSearch{
        width: 50%;
        margin-left: 10%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .hamburger{
        display: block;
        width: 20%;
        cursor: pointer;
        position: relative;
        margin: 0;
    }

    .header{
        background-color: #f1f1f1;
    }

    .HeaderQuick{
        display: none;
    }

    .HeaderQuick2 {
        position: relative;
        top: 30%;
        height: 65px;
    }

    .noDec2{
        text-decoration: none;
        width: 100%;
        height: 65px;
    }

    .forButton2{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 65px;
        border: 1px solid royalblue;
        background-color: transparent;
        color: royalblue;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        border-radius: 6px;
        opacity: 0.75;
    }

    .forButton2:hover{
        opacity: 1;
    }

    .nav{
        display: none;
    }

    .nav2{
        position: relative;
        top: 12%;
    }

    .menuItem2{
        text-decoration: none;
        width: 100%;
        display: flex;
        align-items: center;
    }


    .forButton3{
        margin-top: 10px;
        width: 100%;
        background-color: transparent;
        color: royalblue;
        border: none;
        border-bottom: 1px solid royalblue;
        height: 40px;
    }

    .Arrow{
        color: royalblue;
        position: absolute;
        right: 5px;
    }

    .Arrow:hover{
        color: cornflowerblue;
    }

    .Slider{
       height: 400px;
    }

    .Slider, .slide img {
        width: 100vw;
    }

    .InnerSlide{
        width: 12%;
        height: 30px;
    }

    .slide-text2{
        font-size: 3vw;
        left: 10%;
    }

}



